.yellow{
    background:#FFB660 ;
    border: none;
    padding: 1.05vw 2.3vw;
    margin-right: 1rem;
    color: white;
    font-weight: bold;
}

.green{
    background:#1F8179;
    border: 1px solid white;
    padding: 1vw 2.3vw;
    color: white;
}

.button button{
    font-size: 0.8vw;
}