.fa-circle{
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 0.2vw;
  
} 
.yellow-circle{
        color: yellow;
    }
.green-circle{
    color: green;
}

.pink-circle{
    color: pink;
}

.blue-circle{
    color: blue;
}