.top-header{
    width: 100%;
    height: 40%;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.header{
    width:98vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 60%;
}

.buttons{
    display: flex;
}

.left-header{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding:2vw 9vw;
    background: #1F8179;

    p{
        font-size: 1vw;
    }
}
.right-header{
    width: 60%;
    height: 100%;
}
.partners{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;;
    
}
