.footer{
    width: 72vw;
    margin: 0 auto;

}

.various-models{
    font-size: 2vw !important;
    font-weight: bold !important;
}

.subscribe{
    display: flex;
    align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  margin: 3vw 0;
  padding-bottom: 5vw;
    span{
        font-size: 1.5vw;
        display: flex;
        flex-direction: column;
        width: 15vw;
      

        input{
            margin-top: 1vw;
            height: 3vw;
        }
    }
}

.footer-bottom{
    font-size: 1vw;
    display: flex;
    justify-content: space-between;
     font-family: 'Courier New', Courier, monospace;

    .terms{
        display: flex;
       span{
           margin-left: 1vw;
           cursor: pointer; 
       }
      
    }
}